<div class="jumbotron ">
	<div class="container">
		<hr/>
		<div class="row">
			<div class="col-md-2 text-center">
				<div style="height: 130px" class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">矿池算力</h3>
					</div>
					<div class="panel-body">
						<h4>{{format-hashrate stats.model.hashrate}}</h4>
					</div>
				</div>
			</div>
		
			<div class="col-md-2 text-center">
				<div style="height: 130px" class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">最后出块</h3>
					</div>
					<div class="panel-body">
						<h4>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</h4>
					</div>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<div style="height: 130px" class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">本轮幸运值</h3>
					</div>
					<div class="panel-body">
						<h4>{{format-number stats.roundVariance style='percent'}}</h4>
					</div>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<div style="height: 130px" class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">全网难度</h3>
					</div>
					<div class="panel-body">
						<h4>{{with-metric-prefix stats.difficulty}}</h4>
					</div>
				</div>
			</div>
	<div class="col-md-2 text-center">
				<div style="height: 130px" class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">在线矿机</h3>
					</div>
					<div class="panel-body">
						<h4>{{format-number stats.model.totalWorkers}}</h4>
					</div>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<div style="height: 130px" class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">区块高度</h3>
					</div>
					<div class="panel-body">
						<h4>{{format-number stats.height}}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr/>
<div class="container">
  <div class="stats">
    <h4>矿机状态 &amp; 支付记录</h4>
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder="输入你的以太坊地址"}}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> 查询</span>
        </button>
      </span>
    </div>
  </div>
</div>
<hr/>
